/********** CLASSES POUR TEXTES ***********/

/* Gros titre blanc */
.lh-title-b-white {
  font-size: 54px;
  line-height: 60px;
  font-family: "Fugaz One", cursive;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #fff;
}

/* Gros titre noir */
.lh-title-b-black {
  font-size: 54px;
  line-height: 60px;
  font-family: "Fugaz One", cursive;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #000;
}

/* Petit titre noir */
.lh-title-s-black {
  font-size: 25px;
  font-family: "Fugaz One", cursive;
  margin-bottom: 60px;
  text-transform: uppercase;
}

/* Sous-titre orange */
.lh-subtitle-orange {
  margin-bottom: 20px;
  font-size: 28px;
  color: #f39400;
  text-transform: uppercase;
  font-weight: bold;
}

/* Sous-titre violet */
.lh-subtitle-purple {
  margin-bottom: 20px;
  font-size: 28px;
  color: #261e36;
  text-transform: uppercase;
  font-weight: bold;
  line-height: normal;
}

/* Texte moyen noir */
.lh-text-m-black {
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 30px;
  color: #000;
}

/* Texte moyen blanc */
.lh-text-m-white {
  margin-bottom: 30px;
  font-size: 23px;
  line-height: 30px;
  color: #fff;
}

/* Texte petit noir */
.lh-text-s-black {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #000;
}

/* Texte petit blanc */
.lh-text-s-white {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

/********** HEADER HOME ***********/

/* Image de fond du header */
.lh-home header.lh-header {
  margin-top: 55px;
}

/* Bouton du header */
.lh-home .lh-header-content {
  margin-bottom: 120px;
  display: flex;
  align-items: end;
}

/* Menu burger mobile */
.burger {
  padding-left: 10px;
  cursor: pointer;
  display: none !important;
}

/********** FORMATIONS ***********/

/* Padding et couleur de fond */
.lh-home .lh-formations {
  padding: 100px 45px;
  padding-top: 90px;
  background-color: #fcf7f8;
}

/* Bordure des formations */
.lh-home .lh-formations-container {
  border: 1px solid #f39400;
}

/* Bloc formation */
.lh-home .lh-formations-formation {
  border: 1px solid #ada7b9;
  background-color: #fefcfc;
  padding: 20px;
  margin: 4% 2% !important;
}

/* Image de fond d'une formation */
.lh-home .lh-formations-formation-img {
  border: 1px solid #ada7b9;
  height: 200px;
  margin-bottom: 15px;
  background-size: cover;
}

/* Titre de la formation */
.lh-home .lh-formations-formation-text {
  text-transform: uppercase;
  margin-bottom: 5px;
}

/* Note d'une formation */
.lh-home .lh-formations-formation-stars {
  color: #f39400;
}

/********** PERSONNAGES ***********/

/* Padding et couleur de fond */
.lh-home section.lh-personnages {
  padding: 100px 45px 100px 0;
  background-color: #fff;
}

/* Demi cercle background */
.lh-home .lh-personnages-container {
  background-image: url("./img/demicercle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Marge et structure liste des personnages */
.lh-home .lh-personnages-listpersos {
  margin: 0 auto 50px;
  width: max-content;
  display: flex;
}

/* Bordure d'un personnage */
.lh-home .lh-personnages-listpersos-bg {
  width: 90px;
  height: 90px;
  border-radius: 110px;
  background-color: #fff;
  border: 1px solid #ada7b9;
  margin: 0 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Image d'un personnage */
.lh-home .lh-personnages-listpersos-img {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-position: center;
  background-size: 140%;
  background-repeat: no-repeat;
  cursor: pointer;
}

/* Personnage au survol */
.lh-home .lh-personnages-listpersos-bg:hover {
  border-color: #f39400;
}

/* Personnage actif */
.lh-home .lh-personnages-listpersos-bg.active {
  border-width: 2px;
  border-color: #f39400;
}

/* Bordre personnage survol */
.lh-home .lh-personnages-listpersos-bg:hover .lh-personnages-listpersos-img {
  width: 110px;
  height: 110px;
  border-radius: 110px;
  background-size: 100%;
}

/********** JEU ***********/

/* Padding et image de fond */
.lh-home section.lh-jeu {
  padding: 150px;
  color: #fff;
  background-image: url("./img/bg_jeu.png");
  background-size: cover;
}

/********** PARTENAIRES ***********/

/* Padding et couleur de fond */
.lh-home section.lh-partenaires {
  padding: 45px;
  padding-top: 100px;
  background-color: #fcf7f8;
  text-align: center;
}

/* Espacer les logos partenaires */
.lh-home section.lh-partenaires img {
  margin: 0 50px !important;
}

/********** COMMUNAUTÉ ***********/

/* Padding et couleur de fond */
.lh-home section.lh-communaute {
  padding: 100px 45px;
  background: linear-gradient(#fcf7f8, #916d83, #292138, #292138);
  color: #fff;
}

/********** COMMENTAIRES ***********/

/* Padding et couleur de fond */
.lh-home section.lh-commentaires {
  padding: 100px 200px;
  background-color: #fcf7f8;
}

/********** PRICE TAGS ***********/

/* Padding et couleur de fond */
.lh-home section.lh-pricetags {
  background-color: #fff;
  text-align: center;
  padding: 100px 30px;
}

/* Élément de pricetag, bordure, padding et margin */
.lh-home .lh-pricetags-item {
  border: 2px solid #000;
  padding: 70px 40px 50px 40px !important;
  margin: 0 2%;
}

/* Titre du pricetag */
.lh-home .lh-pricetags-item-title {
  font-size: 30px;
  font-family: "Fugaz One", cursive;
  margin-bottom: 30px;
  text-transform: uppercase;
  line-height: normal;
}

/* Conteneur du prix */
.lh-home .lh-pricetags-item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* Prix */
.lh-home .lh-pricetags-item-price-main {
  font-family: "Fugaz One", cursive;
  font-size: 60px;
  margin-top: 20px;
}

/* Prix centimes */
.lh-home .lh-pricetags-item-price-cents {
  font-family: "Fugaz One", cursive;
  font-size: 16px;
}

/* Prix /mois */
.lh-home .lh-pricetags-item-price-month {
  font-family: "Fugaz One", cursive;
}

/* Avantages */
.lh-home .lh-pricetags-item-avantage {
  font-size: 18px;
  margin: 30px 0;
}

/* Price tag vert */
.lh-home .lh-pricetags-item.lh-pt-green {
  border-color: #46c37f;
}
.lh-home .lh-pricetags-item.lh-pt-green .lh-pricetags-item-title {
  color: #46c37f;
}

/* Price tag orange */
.lh-home .lh-pricetags-item.lh-pt-orange {
  border-color: #f39400;
}
.lh-home .lh-pricetags-item.lh-pt-orange .lh-pricetags-item-title {
  color: #f39400;
}

/* Price tag bleu */
.lh-home .lh-pricetags-item.lh-pt-blue {
  border-color: #4cafed;
}
.lh-home .lh-pricetags-item.lh-pt-blue .lh-pricetags-item-title {
  color: #4cafed;
}

/* Price tag violet */
.lh-home .lh-pricetags-item.lh-pt-violet {
  border-color: #6435c9;
}
.lh-home .lh-pricetags-item.lh-pt-violet .lh-pricetags-item-title {
  color: #6435c9;
}

/* Price tag rouge */
.lh-home .lh-pricetags-item.lh-pt-red {
  margin-top: 30px;
  border-color: #ff1c27;
}
.lh-home .lh-pricetags-item.lh-pt-red .lh-pricetags-item-title {
  color: #ff1c27;
}

/********** DEVENIR FORMATEUR ***********/

/* Padding et couleur de fond */
.lh-home section.lh-formateur {
  padding: 100px 30px;
  background-color: #fcf7f8;
}

/********** INSCRIVEZ-VOUS ***********/

/* Padding et image de fond */
.lh-home section.lh-inscription {
  background-image: url("./img/bg_fin.png");
  background-size: cover;
  padding: 250px 200px;
}

/********** FOOTER ***********/

/* Marges */
footer div {
  margin: 50px 0;
}

/* Marges réseaux sociaux */
footer .social {
  margin-top: -25px;
}

/* Couleur des liens du footer */
footer a {
  color: #bab7bf !important;
}

/* Hover des liens du footer */
footer a:hover {
  color: #fff !important;
}

/* _______________________________________________________________________________ */

/********** RESPONSIVE ***********/

@media screen and (max-width: 1500px) {
  /* TITRES */
  .lh-title-b-black,
  .lh-title-b-white {
    font-size: 40px;
  }
  .lh-title-s-black {
    font-size: 22px;
  }
  .lh-subtitle-orange,
  .lh-subtitle-purple {
    font-size: 24px;
  }
  .lh-text-m-black,
  .lh-text-m-white {
    font-size: 20px;
  }
  .lh-text-s-black,
  .lh-text-s-white {
    font-size: 15px;
  }

  /* HEROS */
  .lh-home .lh-personnages-container {
    background-size: auto;
  }
  .lh-personnages-content {
    width: 100% !important;
    padding: 0 10% !important;
  }

  /* PRICING */
  .lh-home .lh-pricetags-item {
    padding: 70px 20px 50px 20px !important;
  }
  .lh-home .lh-pricetags-item-title {
    font-size: 25px;
  }
  .lh-home .lh-pricetags-item-price-main {
    font-size: 40px;
  }
}

@media screen and (max-width: 1250px) {
  /* MENU */
  .burger {
    display: none !important;
  }

  /* TITRES */
  .lh-title-b-black,
  .lh-title-b-white {
    font-size: 35px;
  }
  .lh-title-s-black {
    font-size: 19px;
  }
  .lh-subtitle-orange,
  .lh-subtitle-purple {
    font-size: 21px;
  }
  .lh-text-m-black,
  .lh-text-m-white {
    font-size: 17px;
  }
  .lh-text-s-black,
  .lh-text-s-white {
    font-size: 15px;
  }

  /* FORMATIONS */
  .lh-home .lh-formations-formation-img {
    height: 150px;
  }

  /* TÉMOIGNAGE */
  .lh-home section.lh-commentaires {
    padding: 50px 20px;
  }

  /* PRICING */
  .lh-home .column.ui.middle.aligned.three.wide.lh-pricetags-item {
    width: 30% !important;
  }

  /* FORMATEUR */
  .lh-home section.lh-formateur .column.wide.aligned {
    width: 80% !important;
  }
}

@media screen and (max-width: 900px) {
  .lh-home.ui.container,
  .lh-personnages.ui.container,
  .lh-formations.ui.container,
  .lh-jeu.ui.container,
  .lh-partenaires.ui.container,
  .lh-communaute.ui.container,
  .lh-commentaires.ui.container,
  .lh-pricetags.ui.container,
  .lh-inscription.ui.container {
    margin: 0 !important;
  }

  /* MENU */
  .ui.small.stackable.menu.fixed .item.lightGrey,
  .ui.small.stackable.menu.fixed .right.menu {
    display: none;
  }
  .burger {
    display: inline !important;
  }

  /* FORMATIONS */
  .lh-home .lh-formations-formation-img {
    height: 100px;
  }

  /* PERSONNAGES */
  /* Bordure d'un personnage */
  .lh-home .lh-personnages-listpersos-bg {
    width: 70px;
    height: 70px;
    border-radius: 110px;
  }
  /* Image d'un personnage */
  .lh-home .lh-personnages-listpersos-img {
    width: 60px;
    height: 60px;
  }
  .ui.huge.image {
    width: 100% !important;
  }

  /* JEU */
  .lh-home section.lh-jeu {
    padding: 100px 50px;
  }

  /* COMMUNAUTÉ */
  .lh-home section.lh-communaute {
    padding: 100px 0;
  }

  /* PRICING */
  .lh-home .column.ui.middle.aligned.three.wide.lh-pricetags-item {
    width: 46% !important;
  }
  .column.ui.middle.aligned.six.wide.lh-pricetags-item.lh-pt-red {
    width: 90% !important;
  }
}
